<!DOCTYPE html>
<head>
    <style>
        h1 {text-align: center;}
        h2 {text-align: center;}
        div {text-align: center;}
    </style>
</head>
<html>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<body style="background-image: linear-gradient(to right, rgb(140, 0, 255) , rgb(255, 0, 149));">


<h1>Welcome</h1>
<h2>to our App</h2>

<div>
    <form action="/home" method="post">
        <p>Enter Name:</p>
        <p><input type="text" name="name"/></p>
        <p>Enter Password:</p>
        <p><input type="password" name="password"/></p>
        <p><input type="Submit" value="Submit"/></p>
    </form>
    

</div>



</body>
</html>
